@import "tailwindcss";


@theme  {
  --color-primary: #051c29; /* bleu foncè*/
  --color-secondary: #14b8a6; /* bleu clair - informatique */
  --color-tertiary: #f9fafb; /* blanc */
  --color-quaternary: #9ca3af; /* gris - fracture numérique */
  --color-quinary: #10b981; /* vert - site web */
  --color-senary: #8b5cf6; /* violet - seniors */
  --color-octonary: #f59e0b; /* orange - dépannage informatique */

  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair-display: "Playfair Display", serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-fira-code: "Fira Code", monospace;
  --font-ma-shan-zheng: "Ma Shan Zheng", cursive;

}


body {
  @apply w-full h-full bg-primary text-octonary;
}
